body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.notificationgood {
  background-color: #38ca38;
  border-color: #179617;
  color: #fff;
  padding: 16px;
  font-weight: 700;
  margin: 12px 0;
}

.notificationbad {
  background-color: #ca3838;
  border-color: #961717;
  color: #fff;
  padding: 16px;
  font-weight: 700;
  margin: 12px 0;
}
